.form-field {
    margin-bottom: 20px;
  }
  
  .login-button, .signup-link, .forgot-password-link {
    display: block;
    font-size: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 20px auto;
    padding: 9px 38px;
    background-color: #f2e908;
    color: #6a4b8f;
    border-radius: 24px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
  
  .signup-link, .forgot-password-link {
    background-color: transparent;
    color: #6a4b8f;
    padding: 9px 0;
    text-decoration: none;
  }
  
  .signup-link:hover .highlight-text {
    text-decoration: underline;
  }
  
  .forgot-password-link:hover {
    text-decoration: underline;
  }
  